---
import BaseLayout from '../layouts/BaseLayout.astro'

import BlockText from "../components/BlockText.astro";
import BlockTextImage from "../components/BlockTextImage.astro";
import BlockCta from "../components/BlockCta.astro";
import BlockClient from "../components/BlockClient.astro";

const token = '474e113b8e779f09724e19ed0ef15b';
const response = await fetch(
  'https://graphql.datocms.com/',
  {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json',
      'Authorization': `Bearer ${token}`,
    },
    body: JSON.stringify({
      query: `{
            page(filter: {id: {eq: "9620074"}}) {
                pageTitle(locale: fr)
                pageSlug(locale: fr)
                pageContentAlt(locale: fr) {
                    blocks {
                        ... on BlockClientRecord {
                            id
                            _modelApiKey
                            blockClientTitle
                            blockClientContent(markdown: true)
                        }
                        ... on BlockCtaRecord {
                            id
                            _modelApiKey
                            blockCtaAlign
                            blockCtaContent(markdown: true)
                            blockCtaLabel
                            blockCtaUrl
                        }
                        ... on BlockTextImageRecord {
                            id
                            _modelApiKey
                            blockTextImageTitle
                            blockTextImageContent(markdown: true)
                            blockTextImageAlign
                            blockTextImageImage {
                                url(imgixParams: {})
                                width
                                height
                                format
                                alt(locale: fr)
                            }
                        }
                        ... on BlockTextRecord {
                            id
                            _modelApiKey
                            blockTextTitle
                            blockTextContent(markdown: true)
                        }
                    }
                }
            }
        }`
    }),
  }
);
const data = await response.json();
const page = data.data.page;
---
<BaseLayout title={page.pageTitle}>
    <!-- Output the result to the page -->
    <h1>{page.pageTitle}</h1>
    {page.pageContentAlt.blocks.map(block => {
        switch(block._modelApiKey) {
            case 'block_text': 
                return <BlockText 
                        title={block.blockTextTitle} 
                        content={block.blockTextContent}
                        />
            case 'block_text_image': 
                return <BlockTextImage 
                        title={block.blockTextImageTitle} 
                        content={block.blockTextImageContent}
                        image={block.blockTextImageImage.url}
                        />
            case 'block_cta': 
                return <BlockCta 
                        content={block.blockCtaContent}
                        label={block.blockCtaLabel}
                        url={block.blockCtaUrl}
                        />
            case 'block_client': 
                return <BlockClient 
                        title={block.blockClientTitle} 
                        content={block.blockClientContent}
                        />
        }
    })}
</BaseLayout>
