---
import { Markdown } from 'astro/components';
import ButtonPrimary from './atoms/ButtonPrimary.astro';
const { title, content, image } = Astro.props;
---
<main id="main" class="block-text">

    <div class="container">

        <h1>{title}</h1>

        <Markdown content={content} />

        <p>
            
            <ButtonPrimary url="mailto:contact@bhen.be" label="Parlons de votre projet" /> 
            
            <a href="#je-suis-designer-web" class="more-info">ou découvrez-en plus sur moi...</a>

        </p>

    </div>

    <img src={image.url} width={image.width} height={image.height}  alt="" />

</main>

<style>
.block-text{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.block-text img{
    display: none;
}

.block-text > div{
    position: relative;
    z-index: 5;
    background-color: rgba(255, 255, 255, .8);
}

.more-info{
    display: block;
    padding: 1rem;
    line-height: 1.1;
    text-align: center;
    color: hsl(53, 9%, 17%);
    text-decoration: none;
}

@media(min-width: 44rem){
    .block-text{
        position: relative;
        min-height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 7.5rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    .more-info{
        display: inline-block;
    }
}

@media(min-width: 73.75rem){
    .block-text img{
        display:block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30%;
        min-width: 32rem;
        height: auto;
    }
}
</style>