---
import { Markdown } from 'astro/components';
const { title, content, image } = Astro.props;
---
<section class="block-text-image">

    <div>

        <figure>

            <img src={image.url} width={image.width} height={image.height}  alt="" />

        </figure>

        <div class="block-text-image__content">

            <h2>{title}</h2>

            <Markdown content={content} />

        </div>

    </div>

</section>

<style>
.block-text-image{
    width: 100%;
    max-width: 80rem;
    padding: 1rem;
    margin: 3rem auto;
}

.block-text-image h2{
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 3rem;
    line-height: 1.3;
}

.block-text-image > div{
    display: flex;
    flex-flow: column wrap;
}

.block-text-image figure{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.block-text-image__content p{
    font-size: 1.125rem;
    margin-bottom: 2rem;
    line-height: 1.5;
}

@media(min-width: 44rem){
    .block-text-image{
        padding: 2rem;
        margin: 6rem auto;
    }

    .block-text-image > div{
        flex-flow: row wrap;
    }

    .block-text-image > div > *{
        width: 50%;
    }

    .block-text-image h2{
        font-size: 2.1rem;
        font-size: calc(2.1rem + .2vw);
    }
}
</style>